/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/

.jumbotron {
  height: auto;
  background-color: black;
  color: white;
  padding: 3rem 2rem;
  border-radius: 1rem;
}

.card {
  width: 15rem;
  margin-bottom: 2rem;
}
.footerStyle {
  height: 15rem;
  background-color: rgb(26, 22, 22);
  color: white;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 6rem;
  font-family: serif;
}

.imageFooter {
  width: 10rem;
  margin-top: -9rem;
  border-radius: 5rem;
}

.container {
  min-width: 80%;
}

.container-carrito {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  min-height: 20rem;
}

.container-productos-carrito {
  min-width: 35rem;
  display: flex;
  border: 2px solid black;
  flex-wrap: nowrap;
  height: 100px;
  align-items: center;
  border-radius: 1rem;
  margin: 0.5rem 0 ;
}

.imagen-carrito {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  border-radius: 1rem;
}

.texto-producto-carrito {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 2rem;
  width: 50%;
}

.container-input {
  width: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
